/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{
    padding: 20px;
}

main .page-content{
    padding: 20px;
    background-color: #fff;
    min-height: 100%;
}

main .page-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
